html {
    box-sizing: border-box;
    /* overflow: clip; */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background: #030202;
    color: #fff;
    /* overflow: hidden; */
    /* overflow: clip; */
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    padding-left: 442px;
    padding-right: 356px;
    padding-top: 27px;
}

.header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.logo-img {
    width: 243px;
}

.header-left {
    gap: 10px 0;
    text-align: left;
}

.header-center {
    gap: 0 42px;
    align-items: center;
}

.vk {
    width: 40px;
}

.instagram {
    width: 35px;
}

.header-right {
    gap: 21px 0;
    text-align: right;
}

.phone {
    font-size: 22px;
    font-weight: 700;
}

.bg-car-bmw {
    padding-bottom: 100px;
}

.main-container__top {
    padding: 0 603px 0 665px;
}

.main-header_text {
    position: relative;
}

.main-header_text_1 {
    font-size: 95px;
    font-weight: 700;
}

.main-header_text_2 {
    position: absolute;
    width: 400px;
    font-size: 32px;
    font-weight: 500px;
    text-align: right;
}

.main-header_text_3 {
    position: absolute;
    font-size: 95px;
    font-weight: 700;
    transform: translate(404px, -23px);
}

.main-header_text_4 {
    position: absolute;
    font-size: 35px;
    font-weight: 600;
    transform: translate(409px, 69px);
    z-index: 1;
}

.bmw-bg {
    margin-top: 66px;
    align-items: center;
    text-align: center;
    position: relative;
}

/* .gradient-bg-img {
    position: absolute;
    top: 248px;
    left: 0;
    z-index: -1;

} */

.gradient-bg {
    position: absolute;
    width: 100%;
    height: 70vh;
    top: 250px;
    left: 0;
    z-index: -1;
    background-image: url(../images/gradient-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.bmw-bg-text {
    position: absolute;
    /* max-width: 290px; */
    font-weight: 700;
    display: flex;
    flex-direction: column;
    top: 450px;
    left: 480px;
}

.bmw-bg-text_1 {
    font-size: 35px;
}

.bmw-bg-text_2 {
    font-size: 35px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.bmw-bg-text_3 {
    font-size: 80px;
}

.bmw-bg-text_4 {
    font-size: 22px;
}

.form-bmw-bg {
    position: absolute;
    width: 493px;
    height: 313px;
    right: 400px;
    bottom: -8px;
    padding: 22px 44px 19px 43px;
    display: flex;
    flex-direction: column;
    /* border-radius: 0px 15px 15px 0px;
    background: rgba(255, 0, 0, 0.50); */
    border-radius: 15px;
    background: url(<img>), lightgray 109.654px -149.01px / 100% 197.935% no-repeat, rgba(0, 0, 0, 0.42);
    backdrop-filter: blur(5.5px);
    background-image: url(../images/form-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-title {
    margin-bottom: 28px;
    max-width: 375px;
    text-align: left;
    font-size: 23px;
    font-weight: 700;
}

.usename {
    margin-bottom: 18px;
    border-radius: 12px;
    border: 0;
    outline: 0;
    background: #131313;
    padding: 14px 0 14px 23px;
    color: #CDCDCD;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.usertel {
    margin-bottom: 28px;
    border-radius: 12px;
    border: 0;
    outline: 0;
    background: #131313;
    padding: 14px 0 14px 23px;
    color: #CDCDCD;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
}

.btn-sub {
    width: 200px;
    height: 46px;
    margin-left: 103px;
    background: #900000;
    border: 0;
    outline: 0;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    /* padding: 14px 35px; */
}

.about-container {
    /* padding: 0 366px 0 382px; */
    /* padding: 0 auto; */
    padding: 0 370px;
}

.data {
    padding-bottom: 76px;
}

.data-list {
    display: flex;
    gap: 0 40px;
}

.data-list:nth-child(1) {
    margin-right: 40px;
}

.data-list:nth-child(2) {
    margin-right: 75px;
}

.data-list:nth-child(3) {
    margin-right: 38px;
}

.data-list_item {
    text-align: center;
    width: 275px;
    gap: 17px;
}

.data-list_item--title {
    text-shadow: 0px 4px 20px rgba(255, 0, 0, 0.47);
    font-family: 'Rubik', sans-serif;
    font-size: 55px;
    font-weight: 700;
}

/* .about-info__video video {
    background-color: #fff;
} */

.about-info {
    display: flex;
    padding-bottom: 137px;
    gap: 41px;
    position: relative;
}

.about-info::after {
    position: absolute;
    content: '';
    background-image: url(../images/info-mazda-bg.svg);
    width: 1090px;
    top: 0;
    left: 0;
}

.about-info__video iframe,
.about-info__video video {
    width: 748px;
    height: 418px;
}

.about-info__txt {
    text-align: left;
}

.about-info__text--title {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 29px;
}
.about-info__txt--text {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}